<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753844015134-glhjh69f2r4crgaekv2fgcuucr5eijmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753844015134-glhjh69f2r4crgaekv2fgcuucr5eijmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753844015134-1m6a0opnql2n4lbgutkn5bh52tfmbvqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2zpNAI5RELl8S5ZgaE4MNbWt-Y1VFK_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>753844015134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgv.mydonationapp</string>
	<key>PROJECT_ID</key>
	<string>donationapp-89333</string>
	<key>STORAGE_BUCKET</key>
	<string>donationapp-89333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753844015134:ios:7fdf2bb3d932588302de0f</string>
	<key>DATABASE_URL</key>
	<string>https://donationapp-89333.firebaseio.com</string>
</dict>
</plist>